{% block content %}
<head>
	<style>
		.logReg_info {
			color: maroon;
			font-family: monospace;
			font-size: 30px;
			text-align: center;
			margin-top: 250px;
		}
	</style>
</head>

<p class="logReg_info">
	We've emailed you instructions for setting your password, if an account exists with the email you entered.
	You should receive them shortly.<br>
	If you don't receive an email, please make sure you've entered the address you registered with,
	and check your spam folder.

	<br><a href="{% url 'home' %}" style="color: darkcyan; font-family: monospace;">Return to home page</a>
</p>

{% endblock %}