{% block content %}
<style>
    body {
    background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    background-size: cover;
    /* font-size: 45px; */
  }
    .head {
        margin-top: 300px;
        font-family: monospace;
        color: rgb(255, 255, 255);
    }

    .back {
			text-align: center;
			font-size: 30px;
			margin-right: 45px;
			font-family: monospace;
			text-decoration:  none;
		}
</style>
<body style="text-align:center;">
    <h1 class="head">The coordinates of the place... for which u want to check weather</h1>
    
    <form method="post">{% csrf_token %}
        
        <!-- {{request_form.label_tag}}
        {{request_form.name}} -->
        
        {{request_form.latitude}}
        {{request_form.longitude}}
    
        <button type="submit" style="font-family: monospace; background-color: aliceblue;">submit</button>
    </form>

    <div class="back">
        <a href="{% url 'home' %}" style="color: rgb(255, 255, 255); text-decoration: none;">Back to home</a>
    </div>

</body>

{% endblock %}