<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=A, initial-scale=1.0">
    <title>About us</title>
<link rel = "icon" href =  
	https://as2.ftcdn.net/jpg/03/53/52/77/500_F_353527779_h9FNlGjripjl4B44z9Q9uRAcGdqEItAp.jpg
			type = "image/x-icon"> 
    <style>
        .heads {
            color: crimson;
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin-top: 250px; font-size: 30px;">
        <h1><em class="heads">about us</em></h1>
        <!-- <h1><em class="heads">SaKaMaKaS solutions</em></h1>
        <p style="font-family: monospace;">we provide techical solutions for our customers</p> -->
    </div>
</body>
</html>
