{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>

<head>
	{% include 'template_snippets/home_header.html' %}

	<link rel = "icon" href =  
	https://as2.ftcdn.net/jpg/03/53/52/77/500_F_353527779_h9FNlGjripjl4B44z9Q9uRAcGdqEItAp.jpg
			type = "image/x-icon"> 
	<style>
		body {
			background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?size=626&ext=jpg");
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover; 
        }
	</style>	
</head>

<body style="background-color: rgb(155, 152, 152)">
	<div class="main">{% include 'template_snippets/home_body.html' %}</div>

	

	{% include 'template_snippets/home_footer.html' %}
</body>

</html>
