{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>

<head>
	{% include 'template_snippets/home_header.html' %}

	<link rel = "icon" href =  
	https://as2.ftcdn.net/jpg/03/53/52/77/500_F_353527779_h9FNlGjripjl4B44z9Q9uRAcGdqEItAp.jpg
			type = "image/x-icon"> 
	<style>
				body {
				   background-image: url("https://wallpapercave.com/wp/wp4756886.jpg");
				   background-size:contain; 
    background-position:center; 
				}
			 </style>	
</head>

<body style="background-color: rgb(155, 152, 152)">
	<div class="main">{% include 'template_snippets/home_body.html' %}</div>

	

	{% include 'template_snippets/home_footer.html' %}
</body>

</html>
