<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="homeStyles.css"> -->

	<title>Temperonitor</title>
	<style>
		.bg {
			background-color: burlywood;
		}

		/* em {
			color: blue;
		} */

		img {
			width: 100px;
			border-radius: 50px;
			margin-left: 20px;
		}

		.goTop_img {
			width: 50px;
			/* border-radius: 25px; */
		}

		.main {
			min-height: 100vh;
			height: 100%;
		}

		.menu_bar{
    		background-color: rgb(255, 255, 255);
			border-radius: 100px;
    		text-align: right;
		}

		.menu_bar:hover a:hover {
			background-color:bisque;
			border-radius: 5px;
		}

		.link {
			/* color: darkcyan; */
			color: rgb(155, 152, 152);
			font-size: 30px;
			margin-right: 45px;
			font-family: monospace;
			text-decoration:  none;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown_link {
			/* color: darkcyan; */
			color: rgb(155, 152, 152);
			font-size: 30px;
			margin-right: 45px;
			font-family: monospace;
			text-decoration:  none;
		}

		.dropdown_content {
			display: none;
			position: absolute;
			background-color: rgb(255, 255, 255);
			border-radius: 5px;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			/* color: darkcyan; */
			color: rgb(155, 152, 152);
			font-size: 30px;
			margin-right: 45px;
			font-family: monospace;
		}

		.dropdown_content a {
			text-decoration: none;
			/* color: darkcyan; */
			color: rgb(155, 152, 152);
		}

		.dropdown:hover .dropdown_content {
			display: block;
		}

		.dropdown_content a:hover {
			background-color: #ddd;
		}
	</style>